# API
SIGN_KEY=06b7a95639d25c7aa6cf66aa6c3b099f6f3e881810f4b93f7e8da25e094f56c8
TOKEN_EXPIRE_MINUTES=180
DB_PORT=5432
DB_HOST=database       # set to 'localhost' if you want to test database migration
API_LOG_LEVEL=INFO

# Broker
BROKER_URL=redis://broker:6379/0

# Database
DB_USER=super_kp
DB_PASSWORD=super_kp
DB_NAME=energy